<div id="header-region"></div>
<div id="main-region">
    <h1>BuildATeam</h1>
    <p>A sample app meant to demonstrate how to build a single-page app using Backbone/Marionette, and a restful Rails backend.</p>
</div>